---
pagination:
  data: collections.seriesMeta
  size: 1
  alias: s
layout: series-player
tags: []
permalink: "/fr/{{ s.folder }}/{{ s.id }}/"
eleventyComputed:
  series: "{{ s.series }}"
  title: "{{ s.title }}"
  folder: "{{ s.folder }}"
  level: "{{ s.level }}"
  topic: "{{ s.topic }}"
  subtopic: "{{ s.subtopic }}"
  difficulty: "{{ s.difficulty }}"
  id: "{{ s.id }}"
---
