{# Problem visual #}
<div x-show="cur.type === 'problem'" class="bg-surface-subtle rounded-2xl shadow-lg border border-slate-200 dark:border-slate-700 p-8 mb-8">
  <template x-if="cur.svg">
    <div class="flex justify-center mb-6" x-html="window[cur.svg.gen](...Object.values(cur.svg.par))"></div>
  </template>
  <div class="prose dark:prose-invert text-center text-lg max-w-none text-pretty" x-html="cur.body"></div>
</div>
